@{
    ViewData["Title"] = "eDostava";
}



<div class="text-center">
    <h1 class="display-4">Dobrodošli na eDostavu!</h1>
    <img src="https://user-images.githubusercontent.com/73022116/111998118-ff632e80-8b1b-11eb-8c74-00a810c31ca0.png" />


    <div class="homepage-search-title">

        <div class="spacer"></div>

        <section class="cd-intro">
            <h1 class="cd-headline rotate-1">
                <span>Naručite</span>
                <span class="cd-words-wrapper" style="width: 130.406px;">
                    <b class="is-hidden">hranu,</b>
                    <b class="is-visible">namirnice,</b>
                    <b class="is-hidden">lijekove</b>
                    <b class="is-hidden">i još mnogo toga!</b>
                </span>

            </h1>
            <h5 class="mb-5 text-gray pl-1 mt-4"> ... na Vašim vratima u roku od <u>20 do 50 minuta.</u></h5>
        </section>
    </div>

    <form action="/action_page.php">
        <label for="fname"><b>Pretraga:</b></label>
        <input type="text" id="fname" name="fname"><br><br>
    </form>

    <h1 class="display-6">Popularne kategorije</h1>

</div>

<head>
    <style>
        .button {
            border: ridge;
            color: black;
            padding: 25px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            background-color: lightsalmon;
        }
        /* Green */
        .button2 {
            background-color: lightsalmon;
        }
        /* Blue */
        .button3 {
            background-color: lightsalmon;
        }
        /* Green */
        .button4 {
            background-color: lightsalmon;
        }
        /* Blue */
        .button5 {
            background-color: lightsalmon;
        }
        /* Green */
        .button6 {
            background-color: lightsalmon;
        }
        /* Blue */
        .button7 {
            background-color: lightsalmon;
        }
        /* Green */
        .button8 {
            background-color: lightsalmon;
        }
        /* Blue */
    </style>
</head>
<body>
    
    <button class="button button1">Market</button>
    <button class="button button2">Piće</button>
    <button class="button button3">McDonald's</button>
    <button class="button button4">Montana</button>
    <button class="button button5">Apoteka</button>
    <button class="button button6">Mesnica</button>
    <button class="button button7">Buregdžinica</button>
    <button class="button button8">Ćevapi</button>

</body>
