@{
    ViewData["Title"] = "eDostava";
}



<div class="text-center">
    <h1 class="display-4">Dobrodošli na eDostavu!</h1>
    <img src="https://user-images.githubusercontent.com/73022116/111998118-ff632e80-8b1b-11eb-8c74-00a810c31ca0.png" />


    <div class="homepage-search-title">

        <div class="spacer"></div>

        <section class="cd-intro">
            <h1 class="cd-headline rotate-1">
                <span>Naručite</span>
                <span class="cd-words-wrapper" style="width: 130.406px;">
                    <b class="is-hidden">hranu,</b>
                    <b class="is-visible">namirnice,</b>
                    <b class="is-hidden">lijekove</b>
                    <b class="is-hidden">i još mnogo toga!</b>
                </span>

            </h1>
            <h5 class="mb-5 text-gray pl-1 mt-4"> ... na Vašim vratima u roku od <u>20 do 50 minuta.</u></h5>
        </section>
    </div>


    <h1 class="display-6">Popularne kategorije</h1>
    
</div>

<head>
    <style>
        .button {
            border: none;
            color: white;
            padding: 25px 48px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            background-color: lightcoral;
        }
        /* Green */
        .button2 {
            background-color: lightblue;
        }
        /* Blue */
        .button3 {
            background-color: lightsalmon;
        }
        /* Green */
        .button4 {
            background-color: deepskyblue;
        }
        /* Blue */
        .button5 {
            background-color: lightgray;
        }
        /* Green */
        .button6 {
            background-color: lightgreen;
        }
        /* Blue */
        .button7 {
            background-color: lightpink;
        }
        /* Green */
        .button8 {
            background-color: saddlebrown;
        }
        /* Blue */
    </style>
</head>
<body>
    
    <button class="button button1">Green</button>
    <button class="button button2">Blue</button>
    <button class="button button3">Blue</button>
    <button class="button button4">Blue</button>
    <button class="button button5">Green</button>
    <button class="button button6">Blue</button>
    <button class="button button7">Blue</button>
    <button class="button button8">Blue</button>

</body>
